<section class="ui center aligned blue segment">
  <div class ="ui grid">
    <div class ="five wide column">
      <i class ="huge user icon"></i><br />
      <h4 class="ui header">
      {{member.name}}
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge dashboard icon"></i><br />
      <h4 class="ui header">
        {{member.assessmentsNumber}} ASSESSMENTS
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge heartbeat icon"></i><br />
      <h4 class="ui header">
        BMI: {{member.currentBMI}}
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge doctor icon"></i><br />
      <h4 class="ui header">
        BMI category: {{member.BMICategory}}
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge balance scale icon"></i><br />
      <h4 class="ui header">
        Ideal weight: {{member.idealWeight}}
      </h4>
    </div>
    <div class ="five wide column">
      <i class="huge chart line icon"></i><br />
      <h4 class="ui header">
        Trend: {{member.trend}}
      </h4>
    </div>

  </div>
</section>