{{> menu id="settings"}}

<section class="ui stacked blue segment">
  <section class="ui grid">
    <section class="ui eight wide column">
      <form class="ui form" action="/update" method="POST">
        <h3 class="ui header">{{title}}</h3>
        <div class="two fields">
            <div class="field">
              <label>Name</label>
              <input value="{{member.name}}" type="text"  name="name">
            </div>
            <div class="disabled field">
              <label>Email</label>
              <input value="{{member.email}}" type="text" name="email" readonly>
            </div>
        </div>
        <div class="field">
          <label>Password</label>
          <input value="{{member.password}}" type="password" name="password">
        </div>
        <div class="field">
          <label>Address</label>
          <input value="{{member.address}}" type=text  name="address">
        </div>
        <div class="three fields">
            <div class="field">
               <label>Gender</label>
                <select>
                  <option value="{{member.gender}}">{{member.gender}}</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
            </div>
            <div class="field">
              <label>Height</label>
              <input value={{member.height}} type="text"  name="height">
            </div>
            <div class="field">
              <label>Starting weight</label>
              <input value={{member.startingweight}} type="text" name="startingweight">
            </div>
        </div>
        <button class="ui blue submit button">Submit</button>
      </form>
    </section>
    <section class="ui eight wide column">
      <img src="https://cdn.dribbble.com/users/124059/screenshots/3837029/icons.png" width="100%"/>
    </section>
  </section>
</section>